#
# Copyright (c) 2003 by Naohide Sano, All rights reserved.
#
# Written by Naohide Sano
#
# ant properties for vavi TM Original Edition
#
# @author	Naohide Sano
# @version	0.00	031213	nsano	initial version
#

encoding=utf-8
ivy.cache=${user.home}/.ivy2/cache
